<a href="https://colab.research.google.com/github/wcj365/python-stats-dataviz/blob/master/data_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# World Development Indicator Dashboard
World Development Indicators (WDI) is the World Bankâ€™s premier compilation of cross-country comparable data on development.
This notebook prepares the data for producing interactive visualizations.

**References**
- http://wdi.worldbank.org/
- https://wbdata.readthedocs.io/en/stable/
- https://datahelpdesk.worldbank.org/knowledgebase/topics/125589-developer-information
- https://databank.worldbank.org/source/world-development-indicators

**Data Source**
- https://datacatalog.worldbank.org/dataset/world-development-indicators
- https://unstats.un.org/unsd/methodology/m49/overview

In [ ]:
import pandas as pd
pd.set_option("display.max_colwidth", 500)
pd.set_option("display.max_colwidth", 500)

In [22]:
user_inputs = [1,2,3,5,6,7]
type(user_inputs)

list

In [23]:
user_inputs[1:]

[2, 3, 5, 6, 7]

In [24]:
user_inputs.append(100)
user_inputs

[1, 2, 3, 5, 6, 7, 100]

In [25]:
len(user_inputs)

7

In [26]:
a_list = []
a_list

[]

In [27]:
a_list.append("jay")
a_list

['jay']

In [28]:
a_list.append("jamie")
a_list

['jay', 'jamie']

## Accpet User Input

In [29]:
user_inputs =[]
for i in range(1, 4):
    user_input = input("Please enter an integer:")
    user_inputs.append(user_input)   
    print(f"You have entered #{i}:", user_input)

print("Overall, you have entered:", user_inputs)

Please enter an integer:10
You have entered #1: 10
Please enter an integer:34
You have entered #2: 34
Please enter an integer:25
You have entered #3: 25
Overall, you have entered: ['10', '34', '25']

In [32]:
int_list =[]
for user_in in user_inputs:
    x = int(user_in)
    int_list.append(x)

int_list

[10, 34, 25]

In [34]:
sum(int_list)

69

## Calculate Minimum

# Calculate Maximum

In [39]:
try:
    int_x = int("jay")
except:
    print("I am not able to convert 'jay'")

I am not able to convert 'jay'

In [14]:
x = int(user_input)
type(x)

int

## Step 1 - Process WDI Data

**1.1 Load the data**

In [ ]:
df_wdi = pd.read_csv("../data/WDIData.csv")
df_wdi.shape

(380160, 66)

In [ ]:
df_wdi.sample(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
335280,Sudan,SDN,"School enrollment, preprimary, female (% gross)",SE.PRE.ENRR.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,37.04562,49.123241,44.811131,44.528858,46.180439,47.098412,NaN,NaN,NaN,NaN
317508,Slovak Republic,SVK,"Literacy rate, youth (ages 15-24), gender pari...",SE.ADT.1524.LT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**1.2 Drop the last column (unuseful)**

In [ ]:
df_wdi.drop(columns=df_wdi.columns[-1], inplace=True)
df_wdi.sample(1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
26176,IDA only,IDX,Coverage of unemployment benefits and ALMP (% ...,per_lm_alllm.cov_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**1.3 Drop the indicator name (save memory)**

In [ ]:
df_wdi.drop(columns={"Indicator Name"}, inplace=True)
df_wdi.sample(1)

KeyError: "['Indicator Name'] not found in axis"

In [ ]:
df_wdi["Country Name"].nunique()

264

## Step 2 - Process Country, Region, Income Group Data

**2.1 Read the data**

In [ ]:
df_countries = pd.read_csv("../data_input/WDICountry.csv")
df_countries.head(2)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-GDDS),2010,NaN,NaN,Yes,NaN,NaN,2016.0,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,NaN,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-GDDS),1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2017.0,NaN

In [ ]:
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 31 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       263 non-null    object
 1   Short Name                                         263 non-null    object
 2   Table Name                                         263 non-null    object
 3   Long Name                                          263 non-null    object
 4   2-alpha code                                       261 non-null    object
 5   Currency Unit                                      217 non-null    object
 6   Special Notes                                      94 non-null     object
 7   Region                                             217 non-null    object
 8   Income Group                                       217 non-null    object
 9   WB-2 code                                          262 non-null    object
 10  National accounts base year                        210 non-null    object
 11  National accounts reference year                   70 non-null     float64
 12  SNA price valuation                                211 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       59 non-null     object
 15  System of National Accounts                        208 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    0 non-null      float64
 18  Balance of Payments Manual in use                  200 non-null    object
 19  External debt Reporting status                     119 non-null    object
 20  System of trade                                    203 non-null    object
 21  Government Accounting concept                      158 non-null    object
 22  IMF data dissemination standard                    186 non-null    object
 23  Latest population census                           214 non-null    object
 24  Latest household survey                            152 non-null    object
 25  Source of most recent Income and expenditure data  168 non-null    object
 26  Vital registration complete                        120 non-null    object
 27  Latest agricultural census                         128 non-null    object
 28  Latest industrial data                             147 non-null    float64
 29  Latest trade data                                  246 non-null    float64
 30  Unnamed: 30                                        0 non-null      float64
dtypes: float64(5), object(26)
memory usage: 63.8+ KB

**2.2 Select the columns of interest**

In [ ]:
df_countries = df_countries[["Country Code", "Short Name", "Region", "Income Group"]]
df_countries.sample(5)

,Country Code,Short Name,Region,Income Group
156,MLT,Malta,Middle East & North Africa,High income
260,ZAF,South Africa,Sub-Saharan Africa,Upper middle income
114,JAM,Jamaica,Latin America & Caribbean,Upper middle income
60,EAR,Early-demographic dividend,NaN,NaN
69,EST,Estonia,Europe & Central Asia,High income

In [ ]:
df_countries[df_countries["Region"].isna()]

,Country Code,Short Name,Region,Income Group
5,ARB,Arab World,NaN,NaN
34,CEB,Central Europe and the Baltics,NaN,NaN
47,CSS,Caribbean small states,NaN,NaN
59,EAP,East Asia & Pacific (excluding high income),NaN,NaN
60,EAR,Early-demographic dividend,NaN,NaN
61,EAS,East Asia & Pacific,NaN,NaN
62,ECA,Europe & Central Asia (excluding high income),NaN,NaN
63,ECS,Europe & Central Asia,NaN,NaN
66,EMU,Euro area,NaN,NaN
71,EUU,European Union,NaN,NaN
72,FCS,Fragile and conflict affected situations,NaN,NaN
93,HIC,High income,NaN,NaN
96,HPC,Heavily indebted poor countries (HIPC),NaN,NaN
100,IBD,IBRD only,NaN,NaN
101,IBT,IDA & IBRD total,NaN,NaN
102,IDA,IDA total,NaN,NaN
103,IDB,IDA blend,NaN,NaN
105,IDX,IDA only,NaN,NaN
125,LAC,Latin America & Caribbean (excluding high income),NaN,NaN
131,LCN,Latin America & Caribbean,NaN,NaN
132,LDC,Least developed countries: UN classification,NaN,NaN
133,LIC,Low income,NaN,NaN
136,LMC,Lower middle income,NaN,NaN
137,LMY,Low & middle income,NaN,NaN
139,LTE,Late-demographic dividend,NaN,NaN
150,MEA,Middle East & North Africa,NaN,NaN
153,MIC,Middle income,NaN,NaN
158,MNA,Middle East & North Africa (excluding high income),NaN,NaN
167,NAC,North America,NaN,NaN
178,OED,OECD members,NaN,NaN
180,OSS,Other small states,NaN,NaN
188,PRE,Pre-demographic dividend,NaN,NaN
194,PSS,Pacific island small states,NaN,NaN
195,PST,Post-demographic dividend,NaN,NaN
201,SAS,South Asia,NaN,NaN
212,SSA,Sub-Saharan Africa (excluding high income),NaN,NaN
214,SSF,Sub-Saharan Africa,NaN,NaN
215,SST,Small states,NaN,NaN
227,TEA,East Asia & Pacific (IDA & IBRD),NaN,NaN
228,TEC,Europe & Central Asia (IDA & IBRD),NaN,NaN
233,TLA,Latin America & Caribbean (IDA & IBRD),NaN,NaN
235,TMN,Middle East & North Africa (IDA & IBRD),NaN,NaN
237,TSA,South Asia (IDA & IBRD),NaN,NaN
238,TSS,Sub-Saharan Africa (IDA & IBRD),NaN,NaN
246,UMC,Upper middle income,NaN,NaN
256,WLD,World,NaN,NaN

In [ ]:
df_countries[df_countries["Region"].isna()].shape

(46, 4)

In [ ]:
df_countries[df_countries.isna().any(axis=1)].shape

,Country Code,Short Name,Region,Income Group
5,ARB,Arab World,NaN,NaN
34,CEB,Central Europe and the Baltics,NaN,NaN
47,CSS,Caribbean small states,NaN,NaN
59,EAP,East Asia & Pacific (excluding high income),NaN,NaN
60,EAR,Early-demographic dividend,NaN,NaN
61,EAS,East Asia & Pacific,NaN,NaN
62,ECA,Europe & Central Asia (excluding high income),NaN,NaN
63,ECS,Europe & Central Asia,NaN,NaN
66,EMU,Euro area,NaN,NaN
71,EUU,European Union,NaN,NaN
72,FCS,Fragile and conflict affected situations,NaN,NaN
93,HIC,High income,NaN,NaN
96,HPC,Heavily indebted poor countries (HIPC),NaN,NaN
100,IBD,IBRD only,NaN,NaN
101,IBT,IDA & IBRD total,NaN,NaN
102,IDA,IDA total,NaN,NaN
103,IDB,IDA blend,NaN,NaN
105,IDX,IDA only,NaN,NaN
125,LAC,Latin America & Caribbean (excluding high income),NaN,NaN
131,LCN,Latin America & Caribbean,NaN,NaN
132,LDC,Least developed countries: UN classification,NaN,NaN
133,LIC,Low income,NaN,NaN
136,LMC,Lower middle income,NaN,NaN
137,LMY,Low & middle income,NaN,NaN
139,LTE,Late-demographic dividend,NaN,NaN
150,MEA,Middle East & North Africa,NaN,NaN
153,MIC,Middle income,NaN,NaN
158,MNA,Middle East & North Africa (excluding high income),NaN,NaN
167,NAC,North America,NaN,NaN
178,OED,OECD members,NaN,NaN
180,OSS,Other small states,NaN,NaN
188,PRE,Pre-demographic dividend,NaN,NaN
194,PSS,Pacific island small states,NaN,NaN
195,PST,Post-demographic dividend,NaN,NaN
201,SAS,South Asia,NaN,NaN
212,SSA,Sub-Saharan Africa (excluding high income),NaN,NaN
214,SSF,Sub-Saharan Africa,NaN,NaN
215,SST,Small states,NaN,NaN
227,TEA,East Asia & Pacific (IDA & IBRD),NaN,NaN
228,TEC,Europe & Central Asia (IDA & IBRD),NaN,NaN
233,TLA,Latin America & Caribbean (IDA & IBRD),NaN,NaN
235,TMN,Middle East & North Africa (IDA & IBRD),NaN,NaN
237,TSA,South Asia (IDA & IBRD),NaN,NaN
238,TSS,Sub-Saharan Africa (IDA & IBRD),NaN,NaN
246,UMC,Upper middle income,NaN,NaN
256,WLD,World,NaN,NaN

In [ ]:
df_countries[df_countries.isna().any(axis=1)].shape

(46, 4)

In [ ]:
df_countries.shape

(263, 4)

In [ ]:
df_countries.dropna(inplace=True)
df_countries.shape

(217, 4)

In [ ]:
df_countries.sample(5)

    Country Code    Short Name                     Region         Income Group
0            ABW         Aruba  Latin America & Caribbean          High income
55           DMA      Dominica  Latin America & Caribbean  Upper middle income
70           ETH      Ethiopia         Sub-Saharan Africa           Low income
232          TKM  Turkmenistan      Europe & Central Asia  Upper middle income
1            AFG   Afghanistan                 South Asia           Low income

## Step 3. Merge the Two Data Frames

In [ ]:
df_merged= pd.merge(df_countries, 
                    df_wdi,
                    on=["Country Code"],
                    how="right"
)

df_merged.sample(2)

,Country Code,Short Name,Region,Income Group,Country Name,Indicator Code,1960,1961,1962,1963,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
330310,LCA,St. Lucia,Latin America & Caribbean,Upper middle income,St. Lucia,NY.GNS.ICTR.CD,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211132,JOR,Jordan,Middle East & North Africa,Upper middle income,Jordan,DT.NFL.UNAI.CD,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_merged.shape

(380160, 68)

**Drop the rows without a proper region**

In [ ]:
df_merged[df_merged["Region"].isna()].sample(10)

,Country Code,Short Name,Region,Income Group,Country Name,Indicator Code,1960,1961,1962,1963,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
24090,IBT,NaN,NaN,NaN,IDA & IBRD total,SP.POP.80UP.MA.5Y,0.264127,0.28167,0.291409,0.29295,...,0.797680,0.829887,0.851557,0.863582,0.866131,0.914738,0.954389,0.981495,0.992839,NaN
49335,OED,NaN,NaN,NaN,OECD members,SL.EMP.1524.SP.FE.ZS,NaN,NaN,NaN,NaN,...,35.189303,35.327359,35.381931,35.764414,36.434293,37.057364,37.634696,38.114148,37.962363,37.724418
31593,LCN,NaN,NaN,NaN,Latin America & Caribbean,BG.GSR.NFSV.GD.ZS,NaN,NaN,NaN,NaN,...,5.877660,6.207099,6.336536,6.437625,7.254478,7.530682,7.350006,7.673027,7.446470,NaN
28100,IDA,NaN,NaN,NaN,IDA total,SH.STA.MMRT.NE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45917,MIC,NaN,NaN,NaN,Middle income,GC.XPN.TRFT.CN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60364,TSA,NaN,NaN,NaN,South Asia (IDA & IBRD),IC.ELC.TIME,NaN,NaN,NaN,NaN,...,100.800000,100.000000,148.233750,144.733750,130.770000,117.922500,108.095000,98.377500,86.120000,NaN
14387,ECA,NaN,NaN,NaN,Europe & Central Asia (excluding high income),SG.LAW.INDX,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13076,ECA,NaN,NaN,NaN,Europe & Central Asia (excluding high income),per_lm_alllm.ben_q1_tot,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52273,PSS,NaN,NaN,NaN,Pacific island small states,IC.ELC.OUTG.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.800000,NaN
66353,WLD,NaN,NaN,NaN,World,per_si_allsi.ben_q1_tot,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_merged = df_merged[df_merged["Region"].notnull()]
df_merged.shape

(312480, 67)

In [ ]:
df_merged.sample(5)

,Country Code,Short Name,Region,Income Group,Country Name,Indicator Code,1960,1961,1962,1963,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
77296,ATG,Antigua and Barbuda,Latin America & Caribbean,High income,Antigua and Barbuda,SH.STA.HYGN.UR.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109270,BRN,Brunei,East Asia & Pacific,High income,Brunei Darussalam,IC.REG.PROC.MA,NaN,NaN,NaN,NaN,...,18.0,18.0,18.0,18.0,7.0,7.0,5.0,3.0,3.0,NaN
345683,TLS,Timor-Leste,East Asia & Pacific,Lower middle income,Timor-Leste,ER.H2O.FWTL.K3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348130,TGO,Togo,Sub-Saharan Africa,Low income,Togo,SH.ANM.CHLD.ZS,NaN,NaN,NaN,NaN,...,72.3,72.0,71.8,71.5,71.2,71.0,NaN,NaN,NaN,NaN
226246,LBN,Lebanon,Middle East & North Africa,Upper middle income,Lebanon,SL.TLF.0714.SW.MA.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_merged["Country Code"].nunique()

217

In [ ]:
df_merged[df_merged[df_merged.columns[:6]].isna().any(axis=1)]

Empty DataFrame
Columns: [Country Code, Short Name, Region, Income Group, Country Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
Index: []

[0 rows x 67 columns]

In [ ]:
topic_list = list(df_indicators["Topic"].unique())
topic_list[:5]

['Environment: Agricultural production',
 'Environment: Land use',
 'Economic Policy & Debt: Balance of payments: Current account: Goods, services & income',
 'Economic Policy & Debt: Balance of payments: Capital & financial account',
 'Economic Policy & Debt: Balance of payments: Current account: Transfers']

In [ ]:
len(topic_list)

90

## Step 4 - Melt and save the dataframe for analysis

**4.1 Melt the dataframe**

From the long form to the short form (like melting an iceburg)

In [ ]:
df_melted = df_merged.melt(id_vars=df_merged.columns[:5], 
                          value_vars=df_merged.columns[5:], 
                          var_name="Year", 
                          value_name='Indicator Value')

df_melted.sample()

,Country Code,Region,Income Group,Country Name,Indicator Code,Year,Indicator Value
8037383,POL,Europe & Central Asia,High income,Poland,TX.VAL.MRCH.CD.WT,1985,11490.0

In [ ]:
df_melted.shape

(19061280, 7)

**Only keep the rows with indicator value**

In [ ]:
df_melted = df_melted[df_melted["Indicator Value"].notnull()]
df_melted.shape

(6203868, 7)

In [ ]:
df_melted.sample(5)

,Country Code,Region,Income Group,Country Name,Indicator Code,Year,Indicator Value
18118363,PSE,Middle East & North Africa,Lower middle income,West Bank and Gaza,BN.CAB.XOKA.GD.ZS,2017,-1.320656e+01
214159,OMN,Middle East & North Africa,High income,Oman,SP.POP.65UP.FE.ZS,1960,3.021271e+00
9126051,COD,Sub-Saharan Africa,Low income,"Congo, Dem. Rep.",EN.ATM.METH.KT.CE,1989,5.770960e+04
5717985,ETH,Sub-Saharan Africa,Low income,Ethiopia,BN.RES.INCL.CD,1978,-8.836205e+07
18015078,NZL,East Asia & Pacific,High income,New Zealand,SL.TLF.ACTI.ZS,2017,8.088900e+01

**4.2 Save the melted dataframe to a file**

In [ ]:
df_melted.to_csv("../data_output/world_dev_indicators.csv", index=False)

## Step 5  Pivot and save the pivot data frame for analysis

In [ ]:
indicator_columns = ("Indicator Code", "Indicator Value")
index_columns = [column for column in df_melted.columns if column not in indicator_columns]
index_columns

['Country Code', 'Region', 'Income Group', 'Country Name', 'Year']

In [ ]:
df_pivot = df_melted.pivot(index=index_columns, columns=["Indicator Code"], values="Indicator Value")
df_pivot.head()

Indicator Code                                                         AG.AGR.TRAC.NO  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960             NaN
                                                                 1961             NaN
                                                                 1962             NaN
                                                                 1963             NaN
                                                                 1964             NaN

Indicator Code                                                         AG.CON.FERT.PT.ZS  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960                NaN
                                                                 1961                NaN
                                                                 1962                NaN
                                                                 1963                NaN
                                                                 1964                NaN

Indicator Code                                                         AG.CON.FERT.ZS  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960             NaN
                                                                 1961             NaN
                                                                 1962             NaN
                                                                 1963             NaN
                                                                 1964             NaN

Indicator Code                                                         AG.LND.AGRI.K2  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960             NaN
                                                                 1961            20.0
                                                                 1962            20.0
                                                                 1963            20.0
                                                                 1964            20.0

Indicator Code                                                         AG.LND.AGRI.ZS  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960             NaN
                                                                 1961       11.111111
                                                                 1962       11.111111
                                                                 1963       11.111111
                                                                 1964       11.111111

Indicator Code                                                         AG.LND.ARBL.HA  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960             NaN
                                                                 1961          2000.0
                                                                 1962          2000.0
                                                                 1963          2000.0
                                                                 1964          2000.0

Indicator Code                                                         AG.LND.ARBL.HA.PC  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960                NaN
                                                                 1961           0.036076
                                                                 1962           0.035571
                                                                 1963           0.035276
                                                                 1964           0.035068

Indicator Code                                                         AG.LND.ARBL.ZS  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960             NaN
                                                                 1961       11.111111
                                                                 1962       11.111111
                                                                 1963       11.111111
                                                                 1964       11.111111

Indicator Code                                                         AG.LND.CREL.HA  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960             NaN
                                                                 1961             NaN
                                                                 1962             NaN
                                                                 1963             NaN
                                                                 1964             NaN

Indicator Code                                                         AG.LND.CROP.ZS  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960             NaN
                                                                 1961             NaN
                                                                 1962             NaN
                                                                 1963             NaN
                                                                 1964             NaN

Indicator Code                                                         ...  \
Country Code Region                    Income Group Country Name Year  ...
ABW          Latin America & Caribbean High income  Aruba        1960  ...
                                                                 1961  ...
                                                                 1962  ...
                                                                 1963  ...
                                                                 1964  ...

Indicator Code                                                         per_sa_allsa.cov_q4_tot  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960                      NaN
                                                                 1961                      NaN
                                                                 1962                      NaN
                                                                 1963                      NaN
                                                                 1964                      NaN

Indicator Code                                                         per_sa_allsa.cov_q5_tot  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960                      NaN
                                                                 1961                      NaN
                                                                 1962                      NaN
                                                                 1963                      NaN
                                                                 1964                      NaN

Indicator Code                                                         per_si_allsi.adq_pop_tot  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960                       NaN
                                                                 1961                       NaN
                                                                 1962                       NaN
                                                                 1963                       NaN
                                                                 1964                       NaN

Indicator Code                                                         per_si_allsi.ben_q1_tot  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960                      NaN
                                                                 1961                      NaN
                                                                 1962                      NaN
                                                                 1963                      NaN
                                                                 1964                      NaN

Indicator Code                                                         per_si_allsi.cov_pop_tot  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960                       NaN
                                                                 1961                       NaN
                                                                 1962                       NaN
                                                                 1963                       NaN
                                                                 1964                       NaN

Indicator Code                                                         per_si_allsi.cov_q1_tot  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960                      NaN
                                                                 1961                      NaN
                                                                 1962                      NaN
                                                                 1963                      NaN
                                                                 1964                      NaN

Indicator Code                                                         per_si_allsi.cov_q2_tot  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960                      NaN
                                                                 1961                      NaN
                                                                 1962                      NaN
                                                                 1963                      NaN
                                                                 1964                      NaN

Indicator Code                                                         per_si_allsi.cov_q3_tot  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960                      NaN
                                                                 1961                      NaN
                                                                 1962                      NaN
                                                                 1963                      NaN
                                                                 1964                      NaN

Indicator Code                                                         per_si_allsi.cov_q4_tot  \
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960                      NaN
                                                                 1961                      NaN
                                                                 1962                      NaN
                                                                 1963                      NaN
                                                                 1964                      NaN

Indicator Code                                                         per_si_allsi.cov_q5_tot
Country Code Region                    Income Group Country Name Year
ABW          Latin America & Caribbean High income  Aruba        1960                      NaN
                                                                 1961                      NaN
                                                                 1962                      NaN
                                                                 1963                      NaN
                                                                 1964                      NaN

[5 rows x 1434 columns]

In [ ]:
df_pivot.reset_index(inplace=True)
df_pivot.head()

Indicator Code,Country Code,Region,Income Group,Country Name,Year,AG.AGR.TRAC.NO,AG.CON.FERT.PT.ZS,AG.CON.FERT.ZS,AG.LND.AGRI.K2,AG.LND.AGRI.ZS,...,per_sa_allsa.cov_q4_tot,per_sa_allsa.cov_q5_tot,per_si_allsi.adq_pop_tot,per_si_allsi.ben_q1_tot,per_si_allsi.cov_pop_tot,per_si_allsi.cov_q1_tot,per_si_allsi.cov_q2_tot,per_si_allsi.cov_q3_tot,per_si_allsi.cov_q4_tot,per_si_allsi.cov_q5_tot
0,ABW,Latin America & Caribbean,High income,Aruba,1960,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Latin America & Caribbean,High income,Aruba,1961,NaN,NaN,NaN,20.0,11.111111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Latin America & Caribbean,High income,Aruba,1962,NaN,NaN,NaN,20.0,11.111111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Latin America & Caribbean,High income,Aruba,1963,NaN,NaN,NaN,20.0,11.111111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Latin America & Caribbean,High income,Aruba,1964,NaN,NaN,NaN,20.0,11.111111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_pivot.shape

(13231, 1439)

In [ ]:
df_pivot.to_csv("../data_output/world_dev_indicator_pivot.csv", index=False)

In [ ]:
df_pivot.query("Year>'2015'").to_csv("../data_output/world_dev_indicator_pivot_2015plus.csv", index=False)