<a href="https://colab.research.google.com/github/wcj365/python-stats-dataviz/blob/master/pandas_webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
WEB_URL = "https://www.genealogybranches.com/censuscosts.html"
df_list = pd.read_html(WEB_URL)
len(df_list)

2

In [7]:
df = df_list[0]
df.head()

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [8]:
df.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [10]:
header = df.iloc[0]
header

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

In [11]:
df = df.iloc[1:]
df.head()

      0         1         2           3
1  1790   3929214   $44,377  1.13 cents
2  1800   5308483   $66,109  1.24 cents
3  1810   7239881  $178,445  2.46 cents
4  1820   9633822  $208,526  2.16 cents
5  1830  12866020  $378,545  2.94 cents

In [12]:
type(header)

pandas.core.series.Series

In [13]:
header_list = list(header)
header_list

['Census Year', 'Total Population', 'Census Cost', 'Average Cost Per Person']

In [14]:
df.columns = header_list
df.head()

  Census Year Total Population Census Cost Average Cost Per Person
1        1790          3929214     $44,377              1.13 cents
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents