<a href="https://colab.research.google.com/github/wcj365/python-stats-dataviz/blob/master/pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
DATA_URL = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignment_fall2020/census_cost.csv"
df = pd.read_csv(DATA_URL, skiprows=2)
df.head()

   Census Year  Total Population  Census Cost  Average Cost Per Person
0         1790           3929214        44377                   0.0113
1         1800           5308483        66109                   0.0124
2         1810           7239881       178445                   0.0246
3         1820           9633822       208526                   0.0216
4         1830          12866020       378545                   0.0294

In [ ]:
df.tail()

    Census Year  Total Population  Census Cost  Average Cost Per Person
18         1970         203302031    247653000                     1.22
19         1980         226542199   1078488000                     4.76
20         1990         248718301   2492830000                    10.02
21         2000         281421906   4500000000                    15.99
22         2010         308745538  13000000000                    42.11

In [ ]:
df.sample(5)

    Census Year  Total Population  Census Cost  Average Cost Per Person
2          1810           7239881       178445                   0.0246
1          1800           5308483        66109                   0.0124
5          1840          17069458       833371                   0.0488
4          1830          12866020       378545                   0.0294
22         2010         308745538  13000000000                  42.1100

In [ ]:
df.shape

(23, 4)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     int64
 3   Average Cost Per Person  23 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 864.0 bytes

In [ ]:
df.columns

Index(['Census Year', 'Total Population', 'Census Cost',
       'Average Cost Per Person'],
      dtype='object')

In [ ]:
df.describe()

       Census Year  Total Population   Census Cost  Average Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01                23.000000
mean     1900.0000      1.039211e+08  9.445587e+08                 3.368739
std        67.8233      9.622629e+07  2.830037e+09                 9.278241
min      1790.0000      3.929214e+06  4.437700e+04                 0.011300
25%      1845.0000      2.013067e+07  1.128361e+06                 0.055100
50%      1900.0000      7.630339e+07  1.185400e+07                 0.170700
75%      1955.0000      1.653245e+08  1.096980e+08                 0.658900
max      2010.0000      3.087455e+08  1.300000e+10                42.110000

In [ ]:
df[["Census Year", "Total Population"]].head()

   Census Year  Total Population
0         1790           3929214
1         1800           5308483
2         1810           7239881
3         1820           9633822
4         1830          12866020

In [ ]:
df[["Census Year", "Total Population"]].describe()

       Census Year  Total Population
count      23.0000      2.300000e+01
mean     1900.0000      1.039211e+08
std        67.8233      9.622629e+07
min      1790.0000      3.929214e+06
25%      1845.0000      2.013067e+07
50%      1900.0000      7.630339e+07
75%      1955.0000      1.653245e+08
max      2010.0000      3.087455e+08