<a href="https://colab.research.google.com/github/wcj365/python-stats-dataviz/blob/master/01%20-%20Python-Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01 - Python Basics
“Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together.” - python.org

In [ ]:
# check versions (overkill, but why not?)
import sys
import pandas as pd
import plotly as py
import datetime as dt

print('Python version:', sys.version)
print('Pandas version: ', pd.__version__)
print('Plotly version: ', py.__version__)
print('Today: ', dt.date.today())

Python version: 3.6.9 (default, Apr 18 2020, 01:56:04)
[GCC 8.4.0]
Pandas version:  1.0.3
Plotly version:  4.4.1
Today:  2020-05-13

## 1. Basic Data Types
- Integer
- Float
- String
- Boolean
- **Additional types:** Complex, Byte, Date/time, None
- **To find out the type:** type()
- **Assign a value to a variable:** variable = value
- **Casting/Conversion of Types :** int(), float(), str(), bool()

In [2]:
# Write Python code here
print("hello, world!")   # this is a simple statementr
print(10)
print(10, 10.5)
print(True, False)
x = 10
print(x)

hello, world!
10
10 10.5
True False
10

In [5]:
x = 'true'
print(x)

y = False
print(y)

False
False

In [6]:
type(x)

str

In [7]:
type(y)

bool

In [ ]:
print(x)

10

In [ ]:
x

10

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
type(x)

int

In [ ]:
x = "50.5"
print(x)
type(x)

50.5

str

In [ ]:
y = float(x)
print(y)
type(y)

50.5

float

In [ ]:
while True: 
    try:
        x = input("Please enter an integer:")
        y = int(x)
        break
    except:
        print("Only integer is allowed")
        continue  
    

print("You have entered a number:", y)

Please enter an integer: 5

You have entered a number: 5

## 2. Numerical Operations
- Addition: 
- Subtraction
- Multiplcation
- Division
- Power: **x ** y or pow(x, y)**
- Modular: **%**

In [ ]:
# Write Python code here

In [ ]:
x = 5
y = 10
print(pow(3,3))

27

In [ ]:
x = 8 % 3
print(x)

2

## 3. String Operations
A string is a collection of characters (refer to Collection Data Types). 

Some useful string methods:
- in
- len
- strip()
- lower()
- upper()
- replace()
- slicing - \[start, stop, step]

In [ ]:
# write code here

In [ ]:
x = "hello world"
y = "x" in x
y
type(y)

bool

In [ ]:
x = "  Hello World!  "
print(len(x))

16

In [ ]:
print(len(x.strip()))

12

In [ ]:
y = x.strip()
z = len(y)
print(z)

12

In [ ]:
txt = "Enter a new notebook name:"
#      0123456789012345

#x = txt.strip(" ,.grt")

print("banana" in txt)

y = txt[10:15]
y

False

'w not'

## 4. Logical Operations (Comparison)
- \>
- \>=
- \<
- \<=
- \== 
- \!=
- \|
- \&

In [ ]:
# write code here

In [ ]:
(100 < 9) & (10 > 9)

False

## 5. Control flow
- Conditional: **if/elif/else**
- Loop: **for (iterate through a collection)**
- Loop: **while (a condition is true)**
- Nested loop
- Leaving the loop: **break, continue**
- infinite loop: **while True**
- Exception handling: **try/except**

In [13]:
x = 30
y = 20
if x > y:
    print("x is larger than y")
elif x == y:
    print("x is the same as y")
else:
    print("x is less than y")

x is larger than y

In [9]:
# Write Python code here
y = "hello world"
print(list(y))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [18]:
# range(start, stop, step)
# range(0, 10, 1)
for i in range(0,10,3):
    print(i)

0
3
6
9

In [19]:
y = "hello"
# range(5) is a shortcut for range(0,5,1)
for sequence in range(5):   
    print(y[sequence])

h
e
l
l
o

In [11]:
x = "hello world" 
for a_member in x:
    print(a_member.upper())

H
E
L
L
O

W
O
R
L
D

## 6. Input/Output
- Accept user input: **input()**
- Output to the standard output device: **print()**
- Special statement: **with open(<file path/name>) as**
- Open a file: **open()**
- Close a file: **close()**
- write to a file: **write()**

In [ ]:
# write code here

In [ ]:
# write code here
with open("test.txt","r") as f:
    for line in f:
        print(line, end="")

This is a test
please ignore
I have nothing to say

In [ ]:
with open("write.txt", "w") as f:
    f.write("don't worry\n")
    f.write("Take care")
    f.close()

## 7. Functions 
- Regular functions
- Lambda Functions 
- Inputs (parameters, arguments) 
- Outputs (returns)

In [ ]:
# Write code here
def square(x):
    return x**2
a = 10
b = square(10)
b

100

In [ ]:
square = lambda x: x**2    # very compact
a = 10
b = square(a)
b

100

In [ ]:
addition = lambda x, y: x + y  
x, y = 10, 40
z = addition(x, y)
z

50

## 8. Some Useful Build-in Functions
- abs()
- round()
- min()
- max()
- len()

In [ ]:
# write code here

## 9. Modules and Classes

- math 
- random 
- os
- pathlib

import [*module*]

from [*module*] import [*class*]

- import math
- from math import sqrt
- import random
- from random import randint

In [ ]:
# write code here
x = input("Enter your name:")

y = input("Enter your age")

age = int(y)
z = 2019 - age + 100
print("Hey,", x, "you will be 100 years old in ", z)

In [ ]:
for i in range(4):
    x = input("enter a number:")

In [ ]:
count = 0
total = 0
while count < 4:
    x = input("enter a number:")
    total = total + int(x)
    count = count + 1
print(total)