<a href="https://colab.research.google.com/github/wcj365/python-stats-dataviz/blob/master/data_cleansing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## To remove characters other than letters and digits from a string.
isalpha(), isdigit()

In [2]:
text = "12XY#$weare&!-"   # --> "12xyweare"

In [10]:
# Any solution (loop)
char_list = []
for c in text:
#    if c.isalpha() or c.isdigit():
    if c.isalnum():
        char_list.append(c)

new_text = "".join(char_list)

new_text

'12XYweare'

In [4]:
new_text = ""
for c in text:
#    if c.isalpha() or c.isdigit():
    if c.isalnum():
        new_text += c

new_text

'12XYweare'

In [18]:
# list comprehension
import string
numbers = [str(i) for i in range(10)]
#numbers = ['1','2','3', '4', '5', '6', '7', '8', '9', '0']
upper_chars = string.ascii_uppercase
lower_chars = string.ascii_lowercase
#upper_chars = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
#lower_chars = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
char_list = [c for c in text if  c in numbers or c in upper_chars or c in lower_chars]
new_text = "".join(char_list)
new_text

'12XYweare'

In [23]:
new_text = [x for x in text if x.isalpha() or x.isdigit()]
new_text = "".join(new_text)
new_text

'12XYweare'

In [34]:
# define a function
def alpha_fil(a_string):

    if  a_string == None:       
        return None

    alphanumeric_filter = filter(str.isalnum, a_string)
    alphanumeric_string = "".join(alphanumeric_filter)

    return alphanumeric_string

alpha_fil(text)

'12XYweare'

## To remove characters other than letters and digits from a column in a dataframe.

In [29]:
import pandas as pd

data = {"sample_text": ["123DVE%$-", None, "werwrewr132324##$rtet^^", None, "greg*I&(^1236%^^%&32r4f3e2"]}

df = pd.DataFrame(data)
df

                  sample_text
0                   123DVE%$-
1                        None
2     werwrewr132324##$rtet^^
3                        None
4  greg*I&(^1236%^^%&32r4f3e2

In [35]:
df["transformed"] = df['sample_text'].apply(alpha_fil)
df

                  sample_text         transformed
0                   123DVE%$-              123DVE
1                        None                None
2     werwrewr132324##$rtet^^  werwrewr132324rtet
3                        None                None
4  greg*I&(^1236%^^%&32r4f3e2   gregI123632r4f3e2