<a href="https://colab.research.google.com/github/wcj365/python-stats-dataviz/blob/master/assignments/assignment03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import random 


for i in range(10):
    for j in range(10):
        print(random.randint(0,9))

6
1
5
1
0
2
2
9
0
8
0
3
6
2
8
5
6
7
9
9
8
4
5
4
3
7
3
7
9
3
8
6
9
4
1
5
7
8
5
6
9
5
7
9
9
7
2
2
7
0
0
8
6
7
2
7
0
9
3
1
2
0
7
8
8
1
5
0
8
8
4
0
2
8
1
0
2
4
0
6
2
6
9
6
2
2
3
6
9
6
8
7
4
8
4
4
5
5
4
4

In [ ]:
for i in range(10):
    for j in range(10):
        print(random.randint(0,9), end=" ")

7 6 8 3 1 1 2 9 4 8 7 7 3 5 6 9 4 8 4 2 3 4 8 6 3 8 6 8 9 9 7 3 6 1 6 1 2 9 7 5 1 3 9 4 5 6 3 5 6 9 2 4 2 7 6 1 1 5 0 4 8 9 8 0 9 0 0 3 8 5 1 6 2 4 2 7 4 7 3 2 7 2 6 2 5 6 8 7 7 5 3 8 5 1 8 0 7 2 6 9

In [ ]:
for i in range(10):
    
    for j in range(10):
        print(random.randint(0,9), end=" ")

    print("\n")

4 8 5 9 6 7 8 0 2 0

0 5 8 3 4 5 2 7 4 7

6 5 9 0 5 9 7 2 5 8

3 8 9 2 2 4 9 8 0 8

1 2 9 0 1 9 4 6 4 0

2 6 2 0 5 6 3 2 8 3

6 5 0 4 9 3 8 5 9 0

3 6 0 9 0 2 3 8 5 8

1 9 4 4 2 1 9 2 0 6

9 5 7 7 4 7 4 8 4 5

In [ ]:
int_list = []
for i in range(10):
    for j in range(10):
        int_list.append(random.randint(0,9))


print(int_list)

[7, 8, 7, 2, 6, 9, 0, 6, 3, 8, 5, 9, 7, 2, 2, 9, 1, 3, 7, 7, 4, 2, 0, 5, 0, 4, 1, 8, 1, 7, 2, 6, 8, 5, 0, 5, 9, 3, 0, 5, 8, 3, 5, 6, 7, 7, 0, 3, 0, 5, 4, 1, 9, 1, 6, 2, 7, 4, 3, 1, 7, 4, 6, 0, 4, 5, 6, 1, 1, 1, 1, 2, 6, 5, 1, 1, 7, 5, 9, 3, 3, 1, 8, 1, 5, 3, 9, 7, 4, 1, 7, 9, 9, 7, 6, 0, 5, 8, 2, 5]

In [ ]:
int_list[5]

9

In [ ]:
for i in range(100):
    
    if int_list[i] % 2 == 0:
        print(int_list[i], end="    ")
    else:
        print("@", end="    ")

    if (i + 1) % 10 == 0:
        print("\n")

@    8    @    2    6    @    0    6    @    8

@    @    @    2    2    @    @    @    @    @

4    2    0    @    0    4    @    8    @    @

2    6    8    @    0    @    @    @    0    @

8    @    @    6    @    @    0    @    0    @

4    @    @    @    6    2    @    4    @    @

@    4    6    0    4    @    6    @    @    @

@    2    6    @    @    @    @    @    @    @

@    @    8    @    @    @    @    @    4    @

@    @    @    @    6    0    @    8    2    @

In [ ]:

total = 0
for i in range(100):

    total += int_list[i]
    print(int_list[i], end="  ")

    if (i + 1) % 10 == 0:
        print("* ", total, end="\n")
        total = 0

7  8  7  2  6  9  0  6  3  8  *  56
5  9  7  2  2  9  1  3  7  7  *  52
4  2  0  5  0  4  1  8  1  7  *  32
2  6  8  5  0  5  9  3  0  5  *  43
8  3  5  6  7  7  0  3  0  5  *  44
4  1  9  1  6  2  7  4  3  1  *  38
7  4  6  0  4  5  6  1  1  1  *  35
1  2  6  5  1  1  7  5  9  3  *  40
3  1  8  1  5  3  9  7  4  1  *  42
7  9  9  7  6  0  5  8  2  5  *  58

In [ ]:
print("*" * 35)
total = 0
for i in range(100):

    total += int_list[i]
    
    if i % 10 == 0:
        print("*", end = " ")

    print(int_list[i], end="  ")

    if (i + 1) % 10 == 0:
        print("* ", total, end="\n")
        total = 0

print("*" * 35)

***********************************
* 7  8  7  2  6  9  0  6  3  8  *  56
* 5  9  7  2  2  9  1  3  7  7  *  52
* 4  2  0  5  0  4  1  8  1  7  *  32
* 2  6  8  5  0  5  9  3  0  5  *  43
* 8  3  5  6  7  7  0  3  0  5  *  44
* 4  1  9  1  6  2  7  4  3  1  *  38
* 7  4  6  0  4  5  6  1  1  1  *  35
* 1  2  6  5  1  1  7  5  9  3  *  40
* 3  1  8  1  5  3  9  7  4  1  *  42
* 7  9  9  7  6  0  5  8  2  5  *  58
***********************************

In [ ]:
print("*" * 35)
total = 0
sum_list = []
for i in range(100):

    sum_list[]

    total += int_list[i]
    
    if i % 10 == 0:
        print("*", end = " ")

    print(int_list[i], end="  ")

    if (i + 1) % 10 == 0:
        print("* ", total, end="\n")
        total = 0

print("*" * 35)

In [ ]:

for i in range(10):

    row_sum = 0

    for j in range(10):
        x = random.randint(0,9)
        row_sum += x
        print(x, end=" ")

    print("* ", row_sum, "\n")

6 2 2 5 8 7 6 9 3 8 *  56

8 6 8 2 3 0 7 0 3 8 *  45

3 9 1 3 4 3 5 7 8 7 *  50

3 6 1 1 3 5 1 4 9 7 *  40

1 1 7 4 9 3 3 7 4 5 *  44

0 5 5 5 6 4 3 3 1 1 *  33

0 4 2 5 0 8 0 6 7 1 *  33

2 2 0 8 7 2 2 2 6 3 *  34

9 2 1 3 4 2 4 8 0 8 *  41

9 4 0 2 6 9 1 8 0 4 *  43

In [3]:
matrix = []
for i in range(10):
    row = []
    for j in range(10):
        row.append(random.randint(0,9))
    matrix.append(row)
print(matrix)

[[5, 8, 4, 8, 4, 4, 5, 0, 6, 8], [6, 7, 6, 4, 5, 9, 9, 5, 0, 5], [6, 6, 5, 9, 3, 1, 5, 0, 3, 0], [1, 4, 6, 3, 2, 3, 7, 9, 0, 7], [2, 4, 4, 5, 2, 1, 7, 6, 9, 1], [1, 0, 0, 2, 4, 6, 9, 7, 3, 2], [6, 6, 0, 8, 0, 6, 4, 6, 3, 9], [0, 5, 3, 7, 6, 8, 4, 4, 8, 3], [5, 4, 6, 1, 0, 6, 9, 4, 5, 6], [0, 4, 4, 1, 0, 8, 7, 0, 9, 0]]

In [16]:
for row in matrix:

    for i in range(10):
        print(row[i], end="  ")

    print(sum(row), "  ")

col_sums = [0] * 10

for i in range(10):
    for j in range(10):
        col_sums[i] += matrix[j][i]

print(*col_sums)

5  8  4  8  4  4  5  0  6  8  52
6  7  6  4  5  9  9  5  0  5  56
6  6  5  9  3  1  5  0  3  0  38
1  4  6  3  2  3  7  9  0  7  42
2  4  4  5  2  1  7  6  9  1  41
1  0  0  2  4  6  9  7  3  2  34
6  6  0  8  0  6  4  6  3  9  48
0  5  3  7  6  8  4  4  8  3  48
5  4  6  1  0  6  9  4  5  6  46
0  4  4  1  0  8  7  0  9  0  33
32 48 38 48 26 52 66 41 46 41