<a href="https://colab.research.google.com/github/wcj365/python-stats-dataviz/blob/master/assignments/assignment_06_colleges2/assignment_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 06
### Note:
- For visualization, you should use Plotly Express 
- Use this notebook as your template and follow the instructions

The first half of this assignment is similar to assignment 04.

This gives you a chance to refresh.

The second half is new and gives you a chance to perform additional practices.

You also get a chance to use some of the Python libraries and techniques.

The links to the zip file is:

- https://collegescorecard.ed.gov/data (This web page contains the link to the zip file)

- https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip (The link to the zip file)

You can run `!wget` command in Colab notebook to retrieve it directly, then run `!unzip` command to extract files (I have provided the cells to do so next for your convenience)

Your folder structure should look like this in your Colab enviroment:

- ...
- 'MERGED1996_97_PP.csv',
- 'MERGED2015_16_PP.csv',
- ...
- 'MERGED2017_18_PP.csv'
- ...

**Note: you should refresh the folder to see all files.**

## Step 1 - Retrieve the zip file

In [1]:
!wget https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip

--2022-10-06 23:51:53--  https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip
Resolving ed-public-download.app.cloud.gov (ed-public-download.app.cloud.gov)... 160.1.161.208, 3.30.138.208, 2600:1f12:18a:7d01:ad67:f64c:95d6:78ed, ...
Connecting to ed-public-download.app.cloud.gov (ed-public-download.app.cloud.gov)|160.1.161.208|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 410294884 (391M) [application/zip]
Saving to: ‘CollegeScorecard_Raw_Data_09012022.zip’

CollegeScorecard_Ra 100%[===================>] 391.29M  70.4MB/s    in 6.1s

2022-10-06 23:51:59 (63.9 MB/s) - ‘CollegeScorecard_Raw_Data_09012022.zip’ saved [410294884/410294884]

## Step 2 - Unzip the zip file

In [2]:
!unzip CollegeScorecard_Raw_Data_09012022.zip

Archive:  CollegeScorecard_Raw_Data_09012022.zip
 extracting: Crosswalks.zip
  inflating: data.yaml
  inflating: FieldOfStudyData1415_1516_PP.csv
  inflating: FieldOfStudyData1516_1617_PP.csv
  inflating: FieldOfStudyData1617_1718_PP.csv
  inflating: FieldOfStudyData1718_1819_PP.csv
  inflating: MERGED1996_97_PP.csv
  inflating: MERGED1997_98_PP.csv
  inflating: MERGED1998_99_PP.csv
  inflating: MERGED1999_00_PP.csv
  inflating: MERGED2000_01_PP.csv
  inflating: MERGED2001_02_PP.csv
  inflating: MERGED2002_03_PP.csv
  inflating: MERGED2003_04_PP.csv
  inflating: MERGED2004_05_PP.csv
  inflating: MERGED2005_06_PP.csv
  inflating: MERGED2006_07_PP.csv
  inflating: MERGED2007_08_PP.csv
  inflating: MERGED2008_09_PP.csv
  inflating: MERGED2009_10_PP.csv
  inflating: MERGED2010_11_PP.csv
  inflating: MERGED2011_12_PP.csv
  inflating: MERGED2012_13_PP.csv
  inflating: MERGED2013_14_PP.csv
  inflating: MERGED2014_15_PP.csv
  inflating: MERGED2015_16_PP.csv
  inflating: MERGED2016_17_PP.csv
  inflating: MERGED2017_18_PP.csv
  inflating: MERGED2018_19_PP.csv
  inflating: MERGED2019_20_PP.csv
  inflating: MERGED2020_21_PP.csv
  inflating: Most-Recent-Cohorts-Field-of-Study.csv
  inflating: Most-Recent-Cohorts-Institution.csv

## Step 3 - Import Libraries

In [9]:
#(Write code below)
import pandas as pd
import os

In [8]:
# This is not a good practice. A lot of repetitions.
# Not recommended

df_2020 = pd.read_csv("/content/MERGED2020_21_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2020["year"] = 2020
df_2019 = pd.read_csv("/content/MERGED2019_20_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2019["year"] = 2019
#.... (more code)
# df_2020 = pd.read_csv("/content/MERGED2020_21_PP.csv")
# df_all = pd.concat([df_1996, df_1997, ...., df_2020])
df_all = pd.concat([df_2020, df_2019])

df_all.sample(10)

,UNITID,INSTNM,TUITIONFEE_IN,year
232,111461,College of the Canyons,1156.0,2019
4032,400080,Summit College,NaN,2020
4059,383020,Midwest College of Oriental Medicine-Racine,NaN,2019
2162,191649,Hofstra University,47510.0,2019
5991,490513,Bais Medrash Mayan Hatorah,10650.0,2019
628,133155,Lorenzo Walker Technical College,NaN,2020
239,111896,Cerro Coso Community College,1382.0,2020
4321,433138,Wayne County Schools Career Center,NaN,2020
1046,151324,Indiana State University,9236.0,2019
4715,445799,Universal Technical Institute of Pennsylvania Inc,NaN,2019

## Step 4 - Display the current working directory using os.getcwd()

You would need to import a standard Python library called os which stands for operating system. so place that import statement in the previous cell. Since your notebook and your data files may or may not in the same folder, you want to make sure what the current working folder is and how to access a data file in a different folder.

In [10]:
#(Write code below)
os.getcwd()

'/content'

## Step 5 - Get the list of file names

os library has a method call listdir which generates a list of files in a directory/folder. Use this method to assign the contents (list of file names) of the data folder to a variable and display it. If necessary, you can use ../ construct to traverse to the parent folder and then to another foloder parallel to the current folder

In [19]:
#(Write code below)
name_list = os.listdir()
name_list

['.config',
 'MERGED2014_15_PP.csv',
 'MERGED2005_06_PP.csv',
 'MERGED2004_05_PP.csv',
 'Most-Recent-Cohorts-Institution.csv',
 'MERGED2000_01_PP.csv',
 'FieldOfStudyData1617_1718_PP.csv',
 'MERGED2019_20_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED2018_19_PP.csv',
 'data.yaml',
 'MERGED2007_08_PP.csv',
 'FieldOfStudyData1516_1617_PP.csv',
 'MERGED2008_09_PP.csv',
 'FieldOfStudyData1415_1516_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED2017_18_PP.csv',
 'MERGED2016_17_PP.csv',
 'MERGED2012_13_PP.csv',
 'MERGED2006_07_PP.csv',
 'MERGED1996_97_PP.csv',
 'MERGED2002_03_PP.csv',
 'FieldOfStudyData1718_1819_PP.csv',
 'MERGED2013_14_PP.csv',
 'CollegeScorecard_Raw_Data_09012022.zip',
 'MERGED2011_12_PP.csv',
 'MERGED2020_21_PP.csv',
 'Crosswalks.zip',
 'MERGED2009_10_PP.csv',
 'MERGED1997_98_PP.csv',
 'Most-Recent-Cohorts-Field-of-Study.csv',
 'MERGED1999_00_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED1998_99_PP.csv',
 'MERGED2001_02_PP.csv',
 'sample_data']

## Step 6 - Process only the yearly data files

The folder contains files that are not the yearly data files. Write code to remove the unwanted files from the list variable.

Note: don't remove/delete these files from the folder in the folder.
For example, use the file extension to only use the csv files or use the name patter - data file name begins with "MERGED". You can use the concept of list comprehension to write just *one* line of code as well as using a for loop, your choice.

In [13]:
#(Write code below)
# using loop
x = [1,3,6,8]
y = []
for num in x:
    y.append(num ** 2)

y

[1, 9, 36, 64]

In [18]:
# using loop with condition
x = [1,3,6,8]
y = []

for num in x:
    if num % 2 == 0:
       y.append(num ** 2)

y

[36, 64]

In [15]:
# using List comprehension
y = [num **2 for num in x]
y

[1, 9, 36, 64]

In [16]:
# using List comprehension with condition
y = [num **2 for num in x if num % 2 == 0]
y

[36, 64]

In [23]:
yearly_list = [file_name for file_name in name_list if file_name.startswith("MERGED")]

yearly_list

['MERGED2014_15_PP.csv',
 'MERGED2005_06_PP.csv',
 'MERGED2004_05_PP.csv',
 'MERGED2000_01_PP.csv',
 'MERGED2019_20_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED2018_19_PP.csv',
 'MERGED2007_08_PP.csv',
 'MERGED2008_09_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED2017_18_PP.csv',
 'MERGED2016_17_PP.csv',
 'MERGED2012_13_PP.csv',
 'MERGED2006_07_PP.csv',
 'MERGED1996_97_PP.csv',
 'MERGED2002_03_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2011_12_PP.csv',
 'MERGED2020_21_PP.csv',
 'MERGED2009_10_PP.csv',
 'MERGED1997_98_PP.csv',
 'MERGED1999_00_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED1998_99_PP.csv',
 'MERGED2001_02_PP.csv']

## Step 7 - Load data files
 
Now that you have a clean list of the yearly files, you want to loop through them and read them into a dataframe one at a time. You only load six columns: ["UNITID", "INSTNM", "STABBR", "REGION", "ADM_RATE", "TUITIONFEE_IN"].

You should use "usecols" option of Pandas to avoid reading unwanted columns. You also want to add a new column call "YEAR" to differentiate the data frames from each other. The YEAR variable should be yyyy format so tht you can convert them into integer. If you use the format yyyy-yy (such as 1997-98 school year), you will not be able to convert them directly to integer. If you use scatter plot, the YEAR needs to be converted to integer or float. 

You would use an empty list and append the yearly dataframes to the list. After all data files are loaded and appended to the list, you would use Pandas to concatenate them into a new single data frame.

Note: this exercise incorporates many techques we learned before:

- list (creating an empty, append an item to the list)
- for loop 
- read only the needed columns from a file (using usecols option)
- add a new column to a data frame
- concatenate multiple dataframes into a single one

This exercise may appear challenging but it worths the effort. You will learn a lot and love it. I promise.

In [25]:
x = "MERGED2020_21_PP.csv"

x[6:10]

'2020'

In [32]:
#(Write code here)

# df_all = pd.DataFrame()  this empty dataframe does not work for the append method.

print("processing file", yearly_list[0])
df_all = pd.read_csv("/content/" + yearly_list[0], usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_all["year"] = yearly_list[0][6:10]
print(df_all.shape)

for yearly_file in yearly_list[1:]:
    print("processing file", yearly_file)
    df = pd.read_csv("/content/" + yearly_file, usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
    df["year"] = yearly_file[6:10]
    df_all = df_all.append(df, ignore_index = True)
    print(df_all.shape)

processing file MERGED2014_15_PP.csv
(7766, 4)
processing file MERGED2005_06_PP.csv
(14665, 4)
processing file MERGED2004_05_PP.csv
(21412, 4)
processing file MERGED2000_01_PP.csv
(28066, 4)
processing file MERGED2019_20_PP.csv
(34760, 4)
processing file MERGED2015_16_PP.csv
(42426, 4)
processing file MERGED2018_19_PP.csv
(49233, 4)
processing file MERGED2007_08_PP.csv
(56204, 4)
processing file MERGED2008_09_PP.csv
(63259, 4)
processing file MERGED2003_04_PP.csv
(69932, 4)
processing file MERGED2017_18_PP.csv
(77044, 4)
processing file MERGED2016_17_PP.csv
(84282, 4)
processing file MERGED2012_13_PP.csv
(92144, 4)
processing file MERGED2006_07_PP.csv
(99095, 4)
processing file MERGED1996_97_PP.csv
(106102, 4)
processing file MERGED2002_03_PP.csv
(112754, 4)
processing file MERGED2013_14_PP.csv
(120623, 4)
processing file MERGED2011_12_PP.csv
(128369, 4)
processing file MERGED2020_21_PP.csv
(135050, 4)
processing file MERGED2009_10_PP.csv
(142267, 4)
processing file MERGED1997_98_PP.csv
(149201, 4)
processing file MERGED1999_00_PP.csv
(155810, 4)
processing file MERGED2010_11_PP.csv
(163280, 4)
processing file MERGED1998_99_PP.csv
(169982, 4)
processing file MERGED2001_02_PP.csv
(176707, 4)

(176707, 4)

In [33]:
df_all.sample(10)

,UNITID,INSTNM,TUITIONFEE_IN,year
115156,188517,Bryant & Stratton College-Albany,16565.0,2013
105023,368434,CLIMATE CONTROL INSTITUTE INC,NaN,1996
17446,191621,Hilbert College,13750.0,2004
7537,17501403,Rasmussen University-Mankato,10764.0,2014
95890,216296,Thaddeus Stevens College of Technology,5420.0,2006
82834,457606,My Le's Beauty College,NaN,2016
56946,130794,Yale University,35300.0,2008
26390,243832,EDP University of Puerto Rico Inc-San Juan,2670.0,2000
80604,227003,Altierus Career College-San Antonio,NaN,2016
42397,45891903,Strayer University-Roswell Campus,12975.0,2015

## Step 8 - Explore the new dataframe 

For example, # of observations, varibles, head, tail, sample, missing values, statistics, etc.

In [ ]:
#(Write code here)

## Step 9 - UMBC 

The dataframe contains many years of data of all U.S. colleges. let's just look at UMBC. Filter/query the dataframe to retrieve only rows that belong to UMBC (one row represent one year). Save the UMNC data to a new data frame. using a new variable for the UMBC data frame, so that the old big data frame is still available for later use.

In [35]:
#(Write code here)
df_all[df_all["INSTNM"].str.contains("University of Maryland-Baltimore County")]

        UNITID                                   INSTNM  TUITIONFEE_IN  year
1610    163268  University of Maryland-Baltimore County        10384.0  2014
9585    163268  University of Maryland-Baltimore County         8520.0  2005
16495   163268  University of Maryland-Baltimore County         8020.0  2004
23338   163268  University of Maryland-Baltimore County         5490.0  2000
29457   163268  University of Maryland-Baltimore County        12028.0  2019
36315   163268  University of Maryland-Baltimore County        11006.0  2015
43841   163268  University of Maryland-Baltimore County        11778.0  2018
51012   163268  University of Maryland-Baltimore County         8708.0  2007
57971   163268  University of Maryland-Baltimore County         8780.0  2008
65132   163268  University of Maryland-Baltimore County         7388.0  2003
71410   163268  University of Maryland-Baltimore County        11518.0  2017
78554   163268  University of Maryland-Baltimore County        11264.0  2016
85942   163268  University of Maryland-Baltimore County         9764.0  2012
93943   163268  University of Maryland-Baltimore County         8622.0  2006
101246  163268  University of Maryland-Baltimore County            NaN  1996
107995  163268  University of Maryland-Baltimore County         6362.0  2002
114383  163268  University of Maryland-Baltimore County        10068.0  2013
122317  163268  University of Maryland-Baltimore County         9467.0  2011
129744  163268  University of Maryland-Baltimore County         9420.0  2020
136795  163268  University of Maryland-Baltimore County         8872.0  2009
144316  163268  University of Maryland-Baltimore County            NaN  1997
151156  163268  University of Maryland-Baltimore County            NaN  1999
157520  163268  University of Maryland-Baltimore County         9171.0  2010
165262  163268  University of Maryland-Baltimore County            NaN  1998
171897  163268  University of Maryland-Baltimore County         5910.0  2001

## Step 10 - Explore the new dataframe

For example, # of observations, varibles, head, tail, sample, missing values, statistics, etc

In [ ]:
#(Write code here)

## Step 11 - Plot UMBC's in-state tution overtime Bar Chart

In [ ]:
#(Write code here)

## Step 12 - Plot UMBC's in-state tution overtime using line Chart

In [ ]:
#(Write code here)

## Step 13 - Tuition Growth Rate

Now let's look at the tuition growth rate year over year. We need to calculate UMBC tuition change percentage each year. First convert the TUITIONFEE_IN column to a Python List

In [ ]:
#(Write code here)

## Step 14 - Loop through the list and calculate the % change each year over the prior year

This takes some effort. Not hard, just some abstract/logical thinking and some experiments. Have fun on this one.

In [ ]:
 #(Write code here)

## Step 15 - Round up the percentage to two decimal points

The resulting number has many decimal points which are unnecessary and not visually appealing. You can use for loop. Or better, use list comprehension for simplicity/brevity.

In [ ]:
#(Write code here)

## Step 16 - Add the list of the percentages to the dataframe as a new column ("PCT_CHANGE")

Not as hard as you may think. If you get stuck, you think too hard. Google it and you will find the answer.

In [ ]:
#(Write code here)

## Step 17 - Finaly, we can make the plot tuition growth rate year over year - bar first, then line chart

In [ ]:
# (write code here)

## Step 18 - Define Growth Rate Function

Since we want to do the same calculation for JHU. Instead of doing it piecemeal as we did for UMBC. Let's create a function which can be reused for any college. This function takes a list of tuitions and return a list of percentage changes year over year. This function can be used later.

In [ ]:
#(Write code here)

## Step 19 - Get JHU Data

The dataframe contains many years of data of all U.S. colleges. Let's just look at JHU. Filter/query the dataframe to retrieve only rows that belong to JHU. Save the JHU data to a new data frame using a new variable so that the old big data frame is still available for later use.

In [ ]:
#(Write code here)

## Step 20 - Plot JHU's in-state tuition overtime

Let's plot bar and then line chart.

In [ ]:
# <14> 
# Plot JHU's in-state tuition overtime from 1996 to 2019. 
# Let's plot bar and line chart together

#(Write code here)

## Step 21 - Calculate Tuition Growth Rate using the Function defined earlier

In [ ]:
# Write code here

## Step 22 - Add the list of percentage changes to the dataframe as a new column ("PCT_CHANGE")

In [ ]:
#(Write code here)

## Step 23 - Plot the JHU percentage changes tuitions over time

Bar plot first, then line plot.

In [ ]:
#(Write code here)

## Step 24 - Compare UMBC and JHU 

In order to plot both UMBC and JHU tuition change over time in the same plot, we need to combine the two datasets using the common key of YEAR. 

First make a umbc2 dataframe with only two columns needed. We don't need other columns. Also change the column name from "PCT_CHANGE" to "UMBC_PCT" in preparation for the merge. This is because both umbc and jhu dataframe have the same column name "PCT_CHANGE", we rename them to there is no collision during the merge. BTW, Pandas handles collision gracefully, Feel free to try it without changing the column names.

In [ ]:
#(Write code here)

## Step 25 

Then make a jhu2 dataframe with only two columns needed. WE don't need other columns. Also change the column name from "PCT_CHANGE" to "JHU_PCT"  in preparation for the merge

In [ ]:
#(Write code here)

## Step 26 - Merger the two data frames and display the new dataframe

In [ ]:
#(Write code here)

## Step 27 - Plot UMBC and JHU separately on the same line plot

In [ ]:
#(Write code here)

## Step 28 - Document your observation of the comparison plots using the following Markdown cell

#### Based on my observation of the plots
#### blah, blah 
#### blah, blah
#### ...
#### blah, blah

In [ ]:
# The end.