<a href="https://colab.research.google.com/github/wcj365/python-stats-dataviz/blob/master/assignment_03/assignment_03_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignement 03

- Zarak Mahmood
- 9/18/2022

# Question 01 - Print 10 by 10 in Matrix

In [1]:
import random
size = 10
random_numbers = []

for i in range(size):

    for j in range(size):
        print(random.randint(0,9), end=" ")
        
    print("\n")

6 4 5 4 3 8 2 3 6 6

6 4 3 4 4 9 0 5 0 9

2 9 3 9 9 7 1 6 4 1

5 6 5 4 2 2 3 3 0 0

8 1 9 6 0 6 7 5 7 2

3 1 8 0 5 5 4 9 0 7

4 1 4 4 7 0 0 3 1 1

4 3 4 6 6 5 6 8 2 6

4 2 3 0 1 2 7 5 7 8

4 0 7 8 3 1 7 4 0 3

# Question 02 - Replacing ODD number with "@"

In [2]:
for i in range(size):
    
    for j in range(size):
        x = random.randint(0,9)
        if x % 2 == 0: 
            print(x, end=" ")
        else:           
            print("@", end=" ")

    print("\n")

@ @ @ 2 @ 0 6 0 @ @

@ @ @ 6 @ 6 @ @ 6 0

6 2 @ @ @ @ @ @ 2 4

@ @ 6 @ @ @ 6 6 @ 6

4 @ 6 @ 4 2 @ @ @ 4

@ 4 @ @ @ @ @ @ 8 @

6 @ @ @ @ 6 @ 8 8 4

@ @ 0 @ @ @ 2 @ 0 8

@ 0 @ @ 4 @ 6 @ @ @

@ @ 2 0 2 6 6 @ 2 @

# Question #3 - Sum up and display the sum at the end of each row with "*" as separator

In [11]:
# This is not right, j is not the random integer we want to sum up. J is the index (0, 1, 2, etc.)

for i in range(size):
    total = 0
    for j in range(size):
        total = total + j
        print(random.randint(0,9), end=" ")

    print("*", total, end="\n")

1 5 2 8 1 4 4 1 4 2 * 45
0 1 7 5 8 0 7 6 7 5 * 45
7 4 3 9 5 2 3 1 7 8 * 45
6 0 6 9 6 8 4 1 5 7 * 45
3 0 0 6 9 9 3 3 4 5 * 45
4 5 0 8 8 2 9 5 3 0 * 45
8 1 4 1 0 5 7 5 8 9 * 45
9 5 1 0 8 1 4 7 4 6 * 45
2 6 0 5 8 4 2 4 0 6 * 45
8 6 7 5 1 0 9 7 8 9 * 45

In [10]:
# This is correct

for i in range(size):
    total = 0
    for j in range(size):
        x = random.randint(0,9)
        total = total + x
        print(x, end=" ")

    print("*", total, end="\n")

3 1 3 9 7 8 3 8 6 1 * 49
9 6 1 7 7 0 4 3 5 7 * 49
4 0 2 5 4 6 3 3 8 2 * 37
6 7 8 2 0 0 8 3 7 0 * 41
5 9 8 4 7 1 0 1 7 3 * 45
4 1 4 6 4 7 5 1 0 6 * 38
1 3 0 5 1 5 7 0 2 6 * 30
3 6 4 4 8 1 3 7 5 7 * 48
8 4 3 3 4 7 4 3 7 2 * 45
1 3 1 7 0 6 8 8 6 9 * 49

# Question 4 - Surrounding the matrix with "*"

In [20]:
#print("***********************")

print("*" * 23)

for i in range(size):
 
    print("*", end=" ")
    for j in range(size):
        print(random.randint(0,9), end=" ")
        
    print("*\n")

#print("***********************")
print("*" * 23)

***********************
* 3 2 7 8 7 8 0 8 8 4 *

* 9 2 3 8 6 5 5 4 1 8 *

* 3 2 6 6 4 3 1 9 8 9 *

* 5 2 6 5 3 4 9 5 9 4 *

* 7 3 8 3 0 0 4 3 6 5 *

* 8 8 2 4 4 2 5 4 8 7 *

* 6 5 5 1 4 8 1 0 5 3 *

* 3 3 5 9 9 3 2 0 1 5 *

* 5 2 0 5 4 5 8 3 5 5 *

* 8 8 1 9 2 1 3 0 4 8 *

***********************

# Question 05 - Built on question 3 and sum up each columns.

In [37]:
column_sums = [0,0,0,0,0,0,0,0,0,0]

for i in range(size):
    total = 0
    for j in range(size):
        x = random.randint(0,9)
        column_sums[j] = column_sums[j] + x    # Most complex/abstract logic 
        total = total + x
        print(x, end="  ")

    print("*", total, end="\n")

print("*  " * 10)
for y in column_sums:
    print(y, end=" ")

7  8  8  0  6  9  9  8  0  7  * 62
2  4  9  2  4  8  1  9  0  9  * 48
8  6  6  2  6  8  2  8  1  8  * 55
3  2  6  8  9  7  5  5  2  9  * 56
6  3  4  7  0  9  0  0  9  2  * 40
5  1  8  2  9  0  3  2  4  7  * 41
9  2  3  3  7  0  8  9  8  4  * 53
1  6  7  3  8  5  3  9  0  2  * 44
6  9  3  0  9  2  6  6  3  2  * 46
1  5  1  5  1  7  0  4  8  5  * 37
*  *  *  *  *  *  *  *  *  *
48 46 55 32 59 55 37 60 35 55

In [24]:
x = [3,5,7,8]
x[1]

5