<a href="https://colab.research.google.com/github/wcj365/python-stats-dataviz/blob/master/examples/pandas_apply_advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import pandas as pd

pd.__version__
pd.set_option("display.max_rows", 200)   # to be able to see all rows

In [11]:
data_url = "https://raw.githubusercontent.com/sruthib22/data690_1/main/doubt_file/bowling_stats.md"

df = pd.read_csv(data_url, header = None)

df.head()

      0           1       2     3      4
0  2018    Syracuse    N.Y.   7.0  556.0
1  2017   Las Vegas    Nev.  10.0  286.0
2  2016        Reno    Nev.   8.0   63.0
3  2015     El Paso   Texas   7.0  315.0
4  2014        Reno    Nev.   9.0   24.0

In [13]:
df.columns = ['year', 'state','state_code','count1','count2']

df

        year                           state state_code  count1  count2
0       2018                        Syracuse       N.Y.     7.0   556.0
1       2017                       Las Vegas       Nev.    10.0   286.0
2       2016                            Reno       Nev.     8.0    63.0
3       2015                         El Paso      Texas     7.0   315.0
4       2014                            Reno       Nev.     9.0    24.0
5       2013                            Reno       Nev.    10.0   253.0
6       2012                     Baton Rouge        La.    11.0   794.0
7       2011                            Reno       Nev.    12.0   837.0
8       2010                            Reno       Nev.    14.0   189.0
9       2009                       Las Vegas       Nev.    17.0   200.0
10      2008                     Albuquerque       N.M.    12.0   615.0
11      2007                            Reno       Nev.    16.0   235.0
12      2006                  Corpus Christi      Texas    12.0   606.0
13      2005                     Baton Rouge        La.    13.0   222.0
14      2004                            Reno       Nev.    16.0   585.0
15      2003                       Knoxville      Tenn.    12.0   203.0
16      2002                        Billings      Mont.    10.0   806.0
17      2001                            Reno       Nev.    16.0   104.0
18      2000                     Albuquerque       N.M.    10.0   688.0
19      1999                        Syracuse       N.Y.     9.0   912.0
20      1998                            Reno       Nev.    15.0   925.0
21      1997                      Huntsville       Ala.     9.0   480.0
22      1996                  Salt Lake City       Utah     9.0   764.0
23      1995                            Reno       Nev.    17.0   285.0
24      1994                          Mobile       Ala.     9.0   285.0
25      1993                           Tulsa      Okla.     8.0   518.0
26      1992                  Corpus Christi      Texas     8.0   557.0
27      1991                          Toledo       Ohio     8.0   359.0
28      1990                            Reno       Nev.     9.0   199.0
29      1989                         Wichita       Kan.     7.0   717.0
30      1988                    Jacksonville       Fla.     7.0   562.0
31      1987                   Niagara Falls       N.Y.     7.0   480.0
32      1986                       Las Vegas       Nev.    10.0    19.0
33      1985                           Tulsa      Okla.     7.0   700.0
34      1984                            Reno       Nev.     8.0   380.0
35      1983                   Niagara Falls       N.Y.     7.0   132.0
36      1982                       Baltimore        Md.     6.0   627.0
37      1981                         Memphis      Tenn.     6.0   400.0
38      1980                      Louisville        Ky.     6.0   269.0
39      1979                           Tampa       Fla.     6.0   213.0
40      1978                       St. Louis        Mo.     6.0   684.0
41      1977                            Reno       Nev.     7.0   203.0
42      1976                   Oklahoma City      Okla.     5.0   679.0
43      1975                          Dayton       Ohio     6.0   244.0
44      1974                    Indianapolis       Ind.     6.0   138.0
45      1973                        Syracuse       N.Y.     5.0   590.0
46      1972                      Long Beach     Calif.     4.0   732.0
47      1971                         Detroit      Mich.     6.0   219.0
48      1970                       Knoxville      Tenn.     4.0   802.0
49      1969                         Madison       Wis.     6.0   258.0
50      1968                      Cincinnati       Ohio     5.0   923.0
51      1967                     Miami Beach       Fla.     3.0   554.0
52      1966                       Rochester       N.Y.     5.0   208.0
53      1965                        St. Paul      Minn.     5.0   472.0
54      1964                         Oakland     Calif.     3.0   791.0
55      1963                         Buffalo       N.Y.     5.0    10.0
56      1962                      Des Moines       Iowa     5.0   292.0
57      1961                         Detroit      Mich.     6.0   216.0
58      1960                          Toledo       Ohio     5.0   716.0
59      1959                       St. Louis        Mo.     5.0   482.0
60      1958                        Syracuse       N.Y.     5.0   434.0
61      1957                      Fort Worth      Texas     3.0    56.0
62      1956                       Rochester       N.Y.     5.0   845.0
63      1955                      Fort Wayne       Ind.     5.0   826.0
64      1954                         Seattle      Wash.     3.0   178.0
65      1953                         Chicago       Ill.     8.0   180.0
66      1952                       Milwaukee       Wis.     7.0   735.0
67      1951                        St. Paul      Minn.     5.0   195.0
68      1950                        Columbus       Ohio     5.0   109.0
69      1949                   Atlantic City       N.J.     5.0   444.0
70      1948                         Detroit      Mich.     7.0   348.0
71      1947                     Los Angeles     Calif.     3.0   356.0
72      1946                         Buffalo       N.Y.     5.0   744.0
73   1943-45   No Tournaments (World War II)        NaN     NaN     NaN
74      1942                        Columbus       Ohio     5.0   742.0
75      1941                        St. Paul      Minn.     5.0   797.0
76      1940                         Detroit      Mich.     6.0    73.0
77      1939                       Cleveland       Ohio     4.0   145.0
78      1938                         Chicago       Ill.     4.0   957.0
79      1937                        New York       N.Y.     4.0    17.0
80      1936                    Indianapolis       Ind.     2.0   853.0
81      1935                        Syracuse       N.Y.     2.0   837.0
82      1934                          Peoria       Ill.     1.0   329.0
83      1933                        Columbus       Ohio     1.0   597.0
84      1932                         Detroit      Mich.     2.0   336.0
85      1931                         Buffalo       N.Y.     2.0   639.0
86      1930                       Cleveland       Ohio     2.0   443.0
87      1929                         Chicago       Ill.     2.0   523.0
88      1928                     Kansas City        Mo.     2.0   251.0
89      1927                          Peoria       Ill.     1.0   452.0
90      1926                          Toledo       Ohio     1.0   876.0
91      1925                         Buffalo       N.Y.     2.0   200.0
92      1924                         Chicago       Ill.     2.0   132.0
93      1923                       Milwaukee       Wis.     1.0   956.0
94      1922                          Toledo       Ohio     1.0   126.0
95      1921                         Buffalo       N.Y.   940.0     NaN
96      1920                          Peoria       Ill.   900.0     NaN
97      1919                          Toledo       Ohio   796.0     NaN
98      1918                      Cincinnati       Ohio   654.0     NaN
99      1917                    Grand Rapids      Mich.   714.0     NaN
100     1916                          Toledo       Ohio   756.0     NaN
101     1915                          Peoria       Ill.   513.0     NaN
102     1914                         Buffalo       N.Y.   450.0     NaN
103     1913                          Toledo       Ohio   502.0     NaN
104     1912                         Chicago       Ill.   596.0     NaN
105     1911                       St. Louis        Mo.   414.0     NaN
106     1910                         Detroit      Mich.   401.0     NaN
107     1909                      Pittsburgh        Pa.   374.0     NaN
108     1908                      Cincinnati       Ohio   362.0     NaN
109     1907                       St. Louis        Mo.   224.0     NaN
110     1906                      Louisville        Ky.   221.0     NaN
111     1905                       Milwaukee       Wis.   217.0     NaN
112     1904                       Cleveland       Ohio   112.0     NaN
113     1903                    Indianapolis       Ind.    78.0     NaN
114     1902                         Buffalo       N.Y.    61.0     NaN
115     1901                         Chicago       Ill.    41.0     NaN

In [22]:
# Use Numpy's isnan() function to test if a number is a NaN (Not a Number)

def add(count1, count2):

    if np.isnan(count1):    
        return np.nan
    elif np.isnan(count2):
        return count1
    else:
        return count1 * 1000 + count2


# Combining a lambda function with a user-defined add() function. 
# This allows for operations on multiple columns
# Quite tricky!

df["count"] = df[["count1", "count2"]].apply(lambda x: add(x.count1, x.count2),axis=1) 

df

        year                           state  ... count2    count
0       2018                        Syracuse  ...  556.0   7556.0
1       2017                       Las Vegas  ...  286.0  10286.0
2       2016                            Reno  ...   63.0   8063.0
3       2015                         El Paso  ...  315.0   7315.0
4       2014                            Reno  ...   24.0   9024.0
5       2013                            Reno  ...  253.0  10253.0
6       2012                     Baton Rouge  ...  794.0  11794.0
7       2011                            Reno  ...  837.0  12837.0
8       2010                            Reno  ...  189.0  14189.0
9       2009                       Las Vegas  ...  200.0  17200.0
10      2008                     Albuquerque  ...  615.0  12615.0
11      2007                            Reno  ...  235.0  16235.0
12      2006                  Corpus Christi  ...  606.0  12606.0
13      2005                     Baton Rouge  ...  222.0  13222.0
14      2004                            Reno  ...  585.0  16585.0
15      2003                       Knoxville  ...  203.0  12203.0
16      2002                        Billings  ...  806.0  10806.0
17      2001                            Reno  ...  104.0  16104.0
18      2000                     Albuquerque  ...  688.0  10688.0
19      1999                        Syracuse  ...  912.0   9912.0
20      1998                            Reno  ...  925.0  15925.0
21      1997                      Huntsville  ...  480.0   9480.0
22      1996                  Salt Lake City  ...  764.0   9764.0
23      1995                            Reno  ...  285.0  17285.0
24      1994                          Mobile  ...  285.0   9285.0
25      1993                           Tulsa  ...  518.0   8518.0
26      1992                  Corpus Christi  ...  557.0   8557.0
27      1991                          Toledo  ...  359.0   8359.0
28      1990                            Reno  ...  199.0   9199.0
29      1989                         Wichita  ...  717.0   7717.0
30      1988                    Jacksonville  ...  562.0   7562.0
31      1987                   Niagara Falls  ...  480.0   7480.0
32      1986                       Las Vegas  ...   19.0  10019.0
33      1985                           Tulsa  ...  700.0   7700.0
34      1984                            Reno  ...  380.0   8380.0
35      1983                   Niagara Falls  ...  132.0   7132.0
36      1982                       Baltimore  ...  627.0   6627.0
37      1981                         Memphis  ...  400.0   6400.0
38      1980                      Louisville  ...  269.0   6269.0
39      1979                           Tampa  ...  213.0   6213.0
40      1978                       St. Louis  ...  684.0   6684.0
41      1977                            Reno  ...  203.0   7203.0
42      1976                   Oklahoma City  ...  679.0   5679.0
43      1975                          Dayton  ...  244.0   6244.0
44      1974                    Indianapolis  ...  138.0   6138.0
45      1973                        Syracuse  ...  590.0   5590.0
46      1972                      Long Beach  ...  732.0   4732.0
47      1971                         Detroit  ...  219.0   6219.0
48      1970                       Knoxville  ...  802.0   4802.0
49      1969                         Madison  ...  258.0   6258.0
50      1968                      Cincinnati  ...  923.0   5923.0
51      1967                     Miami Beach  ...  554.0   3554.0
52      1966                       Rochester  ...  208.0   5208.0
53      1965                        St. Paul  ...  472.0   5472.0
54      1964                         Oakland  ...  791.0   3791.0
55      1963                         Buffalo  ...   10.0   5010.0
56      1962                      Des Moines  ...  292.0   5292.0
57      1961                         Detroit  ...  216.0   6216.0
58      1960                          Toledo  ...  716.0   5716.0
59      1959                       St. Louis  ...  482.0   5482.0
60      1958                        Syracuse  ...  434.0   5434.0
61      1957                      Fort Worth  ...   56.0   3056.0
62      1956                       Rochester  ...  845.0   5845.0
63      1955                      Fort Wayne  ...  826.0   5826.0
64      1954                         Seattle  ...  178.0   3178.0
65      1953                         Chicago  ...  180.0   8180.0
66      1952                       Milwaukee  ...  735.0   7735.0
67      1951                        St. Paul  ...  195.0   5195.0
68      1950                        Columbus  ...  109.0   5109.0
69      1949                   Atlantic City  ...  444.0   5444.0
70      1948                         Detroit  ...  348.0   7348.0
71      1947                     Los Angeles  ...  356.0   3356.0
72      1946                         Buffalo  ...  744.0   5744.0
73   1943-45   No Tournaments (World War II)  ...    NaN      NaN
74      1942                        Columbus  ...  742.0   5742.0
75      1941                        St. Paul  ...  797.0   5797.0
76      1940                         Detroit  ...   73.0   6073.0
77      1939                       Cleveland  ...  145.0   4145.0
78      1938                         Chicago  ...  957.0   4957.0
79      1937                        New York  ...   17.0   4017.0
80      1936                    Indianapolis  ...  853.0   2853.0
81      1935                        Syracuse  ...  837.0   2837.0
82      1934                          Peoria  ...  329.0   1329.0
83      1933                        Columbus  ...  597.0   1597.0
84      1932                         Detroit  ...  336.0   2336.0
85      1931                         Buffalo  ...  639.0   2639.0
86      1930                       Cleveland  ...  443.0   2443.0
87      1929                         Chicago  ...  523.0   2523.0
88      1928                     Kansas City  ...  251.0   2251.0
89      1927                          Peoria  ...  452.0   1452.0
90      1926                          Toledo  ...  876.0   1876.0
91      1925                         Buffalo  ...  200.0   2200.0
92      1924                         Chicago  ...  132.0   2132.0
93      1923                       Milwaukee  ...  956.0   1956.0
94      1922                          Toledo  ...  126.0   1126.0
95      1921                         Buffalo  ...    NaN    940.0
96      1920                          Peoria  ...    NaN    900.0
97      1919                          Toledo  ...    NaN    796.0
98      1918                      Cincinnati  ...    NaN    654.0
99      1917                    Grand Rapids  ...    NaN    714.0
100     1916                          Toledo  ...    NaN    756.0
101     1915                          Peoria  ...    NaN    513.0
102     1914                         Buffalo  ...    NaN    450.0
103     1913                          Toledo  ...    NaN    502.0
104     1912                         Chicago  ...    NaN    596.0
105     1911                       St. Louis  ...    NaN    414.0
106     1910                         Detroit  ...    NaN    401.0
107     1909                      Pittsburgh  ...    NaN    374.0
108     1908                      Cincinnati  ...    NaN    362.0
109     1907                       St. Louis  ...    NaN    224.0
110     1906                      Louisville  ...    NaN    221.0
111     1905                       Milwaukee  ...    NaN    217.0
112     1904                       Cleveland  ...    NaN    112.0
113     1903                    Indianapolis  ...    NaN     78.0
114     1902                         Buffalo  ...    NaN     61.0
115     1901                         Chicago  ...    NaN     41.0

[116 rows x 6 columns]