<a href="https://colab.research.google.com/github/wcj365/python-stats-dataviz/blob/master/assignments/assignment_02/data690_session_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA 690 Session 02

- Date: 09/09/2022
- Name: Jay Wang

In [21]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("Birth Years of Students", years)

Birth Years of Students 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [22]:
type(years)

str

In [23]:
type(True)

bool

In [24]:
years_list = years.split(" ")

print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [25]:
x = ["Jay", "James", "Jayson","Libin"]

type(x)

list

In [26]:
y = [2.4, 12, -7, 11, 6]

type(y)

list

In [27]:
total = 0
for number in y:
    total = total + number

print("Sum of y =", total)

print("The size of the list is", len(y))

print("The average of y is", total/len(y))

Sum of y = 24.4
The size of the list is 5
The average of y is 4.88

In [28]:
years_list[0]

'1/11/1997'

In [29]:
years_list[2]

'2000'

## Approach 01 - Drop problemetic data element

In [34]:
abandoned = years_list.pop(0)

years_list

['1991',
 '2000',
 '1969',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995',
 '1999',
 '1999',
 '1997',
 '1996',
 '1996',
 '1997',
 '1995',
 '1997',
 '1999',
 '2000']

In [35]:
years_list

['1991',
 '2000',
 '1969',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995',
 '1999',
 '1999',
 '1997',
 '1996',
 '1996',
 '1997',
 '1995',
 '1997',
 '1999',
 '2000']

In [36]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0
for birth_year in years_list:
    age = current_year - int(birth_year)
    total = total + age


print("total age is", total)

2022
total age is 578

In [37]:
average_age = total / len(years_list)

print("average age =", average_age)

average age = 26.272727272727273

## Approach 02 - fix data problem

In [38]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("Birth Years of Students", years)

Birth Years of Students 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [39]:
years_list = years.split()
print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [43]:
years_list[0] = "1997"
print(years_list)

['1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [42]:
#x = "I don't like to write papers."
y = 'I prefer double quote ""'
y

'I prefer double quote ""'

In [44]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0
for birth_year in years_list:
    age = current_year - int(birth_year)
    total = total + age


print("total age is", total)

2022
total age is 603

In [45]:
average_age = total / len(years_list)

print("average age =", average_age)

average age = 26.217391304347824

## Approach 03 - Handle exception

We don't fix the data issue.

In [62]:
# Prepare Data for calculation

years = "1/11/1997 1991 2000xx 1969 1999er 1998 1993 1906 1999 2015 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("Birth Years of Students", years)

years_list = years.split()
print(years_list)

Birth Years of Students 1/11/1997 1991 2000xx 1969 1999er 1998 1993 1906 1999 2015 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000
['1/11/1997', '1991', '2000xx', '1969', '1999er', '1998', '1993', '1906', '1999', '2015', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [63]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0
count = 0
for birth_year in years_list:

    try:
        year_int = int(birth_year)
    except:
        continue

    age = current_year - year_int

    if age > 80:
        print("skiping this person age > 80:", age)
        continue
    elif age < 10:
        print("skipping this kid:", age)
        continue

    total = total + age
    count = count + 1 


print("total age is", total)
print("number of studebts is", count)

2022
skiping this person age > 80: 116
skipping this kid: 7
total age is 482
number of studebts is 18

In [64]:
average_age = total / count

print("average age =", average_age)

average age = 26.77777777777778

## Misc

In [78]:
count = 0
while True:

    if count == 3:
        break

    try: 
        x = int(input("Enter an integer:"))
        count = count + 1
    except:
        print("You need to enter an integer. please try again.")

Enter an integer:5768
Enter an integer:3242
Enter an integer:23424

In [73]:
x

10